# dependencies
node_modules
.pnpm-store
.pnpm
node_modules/.pnpm

# build output
.next
dist
build
coverage
.turbo

# git
.git
.github
.gitignore

# env & logs
.env
.env.*
*.log

# system / editor
.DS_Store
.vscode

# docker itself
Dockerfile
dockerfile
docker-compose.yml
