name: Deploying Yadxy to EC2

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.MACHINE_IP }}
          username: ubuntu
          key: ${{ secrets.PRIVATE_SSH_KEY }}
          port: 22
          script: |
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use 22

            cd yadxy

            git pull origin main

            corepack enable
            corepack prepare pnpm@latest --activate
            
            pnpm install --frozen-lockfile

            cd apps/web
            pnpm run build

            cd ../server
            pnpm run build

            cd ../../

            pm2 restart ecosystem.config.js