name: Deploying yadxy on ec2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
    
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false 

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      
      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Turbo build
        run: pnpm turbo run build

      - name: Prepare deploy artifacts
        run: |
          mkdir -p yadxy/apps/server yadxy/apps/web yadxy/packages/db

          cp package.json yadxy/
          cp pnpm-lock.yaml yadxy/
          cp pnpm-workspace.yaml yadxy/
          cp turbo.json yadxy/

          cp apps/server/package.json yadxy/apps/server/
          cp -r apps/server/dist yadxy/apps/server/

          cp apps/web/package.json yadxy/apps/web/
          cp -r apps/web/.next yadxy/apps/web/
          cp -r apps/web/public yadxy/apps/web/

          cp packages/db/package.json yadxy/packages/db/
          cp -r packages/db/dist yadxy/packages/db/

      - name: Deploy to EC2
        uses: appleboy/scp-action@v1
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          source: "yadxy/*"
          target: "/srv"
      
      # - name: Install deps and Restart PM2
      #   uses: appleboy/ssh-action@v1.0.3
      #   with:
      #     host: ${{secrets.EC2_HOST}}
      #     username: ${{secrets.EC2_USER}}
      #     key: ${{secrets.EC2_SSH_KEY}}
      #     script: |
      #       cd /srv/yadxy
      #       pnpm install --frozen-lockfile
      #       pm2 reload all